ol {

	list-style: none;
}

ol li .n-item {

	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}}

ol li:not(:last-child) .n-item {

	font-size: 14px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}

.n-header {

	border-bottom: 1px solid #ddd;
	padding-bottom: 15px;
}

.n-item  .n-cost-box {

	width: 100px;
	margin: 0px;
}

.n-item a:hover {

	text-decoration: none;
}

.n-region-root {

	background: #fffdf5;
}

.angular-ui-tree-placeholders-wrapper {

	margin-top: 0px;
}

.angular-ui-tree-placeholder {

	border: 1px dash #ddd;
	background: #efefef;
}

.angular-ui-tree-drag-wrapper {

	margin-top: -15px;
}